.Dashboard {
    padding-left: 30px;
}

.profile_photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.general_data {
    display: flex;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.name {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
}

.switch_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.switch_container p {
    margin-right: auto;
    font-size: 1.2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #3BB4C1;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #3BB4C1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.status_switch {
    display: inline-block;
    margin-left: 9px;
    margin-top: 5px;
    font-size: .9rem;
    color: var(--white-color);
    opacity: 1;
}