.Filters {
    padding: 10px;
    background-color:  #F6F5F5;
}

.Filters form{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    padding-bottom: 25px;
}

.input_wrapper {
    flex-basis: 25%;
}

.Filters select,
.Filters input {
    width: 100%;
    padding: 5px;
}

.Filters input {
    padding: 2.5px;
}

.rounded {
    border-radius: 10px;
    height: 25px;
}

.submit {
    flex-basis: 15%;
    height: 30px;
    font-size: 1.1rem;
    background-color: #3BB4C1;
    border: none;
    color: white;
}

.landing_filters {
    position: fixed;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 10000;
    border: 1px solid red;
    background-color: white;
    text-align: center;
}

.landing_filters h1 {
    margin-bottom: 100px;
}

.landing_filters .input_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

