
.Header {
    background-color: #3BB4C1;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    height: 50px;
    width: 50px;
}

.language {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
}