* {
  box-sizing: border-box;
  font-family: ‘Lato’, sans-serif;
}

ul {
  list-style: none;
  padding-left: 15px;
}

#content_wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 30vw) 1fr;
  grid-template-rows: 1fr 1fr; 
  max-height: calc(100vh - 80px);
}